.cell {
  display: inline-block;
  min-height: 4px;
  min-width: 4px;
  margin-bottom: 1px;
  margin-left: 1px;
  background-color: lightgreen;
}

.cell-active {
  background-color: green;
  outline: 1px solid ghostwhite;
}
