* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hjkl {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  background-color: lightgreen;
}

button {
  font-family: monospace;
  font-style: italic;
  font-weight: bold;
  padding: 10px;
  background-color: grey;
  color: lightgreen;
  cursor: pointer;
  border: none;
  border-radius: 10px;
}

button:hover:enabled {
  outline: 1px solid white;
}